# PyCharm
.idea/
*.iml
*.iws

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
.venv/
.env/
ENV/
.ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Logs and reports
*.log
*.sqlite3
